#wallpaper {
  background-image: url('https://mybarbershopbroward.files.wordpress.com/2016/09/barber-wallpaper-23.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginCard {
  /* width: 30% !important; */
  border-radius: 15px !important;
}

.LoginCard li, a:hover {
  background-color: white !important;
}

.LoginCard a {
  color: black;
}

.LoginCard input{
  border-bottom: 1px solid #2BBBAD !important;
  width: 80% !important;
}