html,
body {
  margin: 0px !important;
  padding: 0px !important;
}

body::-webkit-scrollbar,
.scheduleCompany::-webkit-scrollbar,
.SignInCompanies::-webkit-scrollbar,
.datepickerCompany::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

body::-webkit-scrollbar-thumb,
.scheduleCompany::-webkit-scrollbar-thumb,
.SignInCompanies::-webkit-scrollbar-thumb,
.datepickerCompany::-webkit-scrollbar-thumb {
  background: #ccc !important;
  border-radius: 4px !important;
}

body::-webkit-scrollbar-thumb:hover,
.scheduleCompany::-webkit-scrollbar-thumb:hover,
.SignInCompanies::-webkit-scrollbar-thumb:hover,
.datepickerCompany::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3 !important;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}

body::-webkit-scrollbar-thumb:active,
.scheduleCompany::-webkit-scrollbar-thumb:active,
.SignInCompanies::-webkit-scrollbar-thumb:active,
.datepickerCompany::-webkit-scrollbar-thumb:active {
  background-color: #999999 !important;
}

body::-webkit-scrollbar-track,
.scheduleCompany::-webkit-scrollbar-track,
.SignInCompanies::-webkit-scrollbar-track,
.datepickerCompany::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 4px !important;
}

/* .red:hover {
  background-color: #e57373 !important;
} */
/* 
#wallpaper {
  background-image: url("https://mybarbershopbroward.files.wordpress.com/2016/09/barber-wallpaper-23.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.LoginCard {
  width: 500px !important;
  border-radius: 15px !important;
  max-height: min-content !important;
}

.LoginCard a {
  color: black;
}

/* .LoginCard input {
  border-bottom: 1px solid #2bbbad !important;
} */

.navbarCompanies {
  background-color: transparent !important;
}

.fondoCompanies {
  width: 100%;
  height: 100vh;
  background-image: url("/images/calendrier.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.principal {
  background-color: rgb(0, 0, 0, 0.25);
}

.eslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 400%;
  height: 100vh;
  color: white;
  font-size: 5.5em;
  font-family: "Montserrat", sans-serif;
  text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
  padding: 10% 0 10% 0;
}

@media (max-width: 600px) {
  .eslogan {
    font-size: 4em;
  }
}

.eslogan i {
  margin-top: 15%;
}

.cardPanel {
  padding: 5% 0;
  height: 100%;
  background-image: URL("/images/9816.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}

.cardPanel h4 {
  font-weight: bold;
}

.SignInCompanies {
  width: 100%;
  height: 100%;
  background-image: url("/images/63633.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.addCompany {
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.formCompany {
  background-color: rgb(255, 255, 255, 0.75) !important;
  padding: 50px;
  width: 500px;
}

.scheduleCompany {
  width: 100%;
  height: 100%;
  background-image: url("/images/63633.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datepickerCompany {
  width: 100%;
  height: 100vh;
  background-image: url("/images/63633.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: auto;
  padding: 5% 0;
}

.sidenavCompany {
  z-index: 99999 !important;
}

.sidenav {
  margin-top: 50px !important;
  border-radius: 0 25px 25px 0;
  height: auto !important;
  max-height: 600px !important;
  background-position-y: center;
  background-size: cover;
}

.sidenav a {
  font-size: 20px !important;
  line-height: 1.1em !important;
  font-family: "Montserrat", sans-serif;
}

.sidenavButton {
  position: fixed;
  z-index: 998 !important;
}

.scheduleCard {
  display: inline-block;
  height: 100%;
}

.card-panel {
  text-align: center;
}

.scheduleCards {
  padding-top: 69px !important;
  padding-bottom: 69px !important;
}

.backgroundCards {
  background-color: rgb(255, 255, 255, 0.75) !important;
}

.colDatepicker {
  width: 11% !important;
}

.newCompany {
  max-height: 100% !important;
  height: 100% !important;
  background-image: url("/images/63633.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.postit {
  position: relative;
  background-repeat: no-repeat;
  height: 50%;
  background-size: cover;
}

.cardText {
  transform: rotate(-4deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-family: "Gloria Hallelujah", cursive;
}

.insidePostit {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.deletePostit,
.iconDown {
  cursor: pointer;
}

.diapos img {
  height: 70vh;
}

.indicator-item {
  background-color: grey !important;
}

.indicator-item.active {
  background-color: black !important;
}

.carousel {
  height: 80vh !important;
  width: 100% !important;
}

.diapos h2 {
  margin-top: 30%;
  font-size: 2.5em !important;
  line-height: 1.1em !important;
}

.diapos p {
  font-size: 1.7em !important;
  line-height: 1.1em !important;
}

.texto {
  background-color: rgb(255, 255, 255, 0.65) !important;
}

.características span {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .LoginCard {
    width: 80% !important;
  }
  .diapos h2 {
    margin-top: 0;
    font-size: 2em !important;
    line-height: 1.1em !important;
  }
  .diapos p {
    font-size: 1.2em !important;
    line-height: 1.1em !important;
  }
  .diapos img {
    height: 40vh;
  }
  .características {
    margin: 20px;
  }
}
